.header {
    margin-top: 10px;
    margin-bottom: 20px;

    @media screen and (min-width: 468px) {
        margin-top: 20px;
        margin-bottom: 30px;
    }

        @media screen and (min-width: 749px) {
            margin-top: 40px;
        }
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__city {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    min-height: 60px;
}

.city__inner {
    display: flex;
    justify-content: space-between;
}

.city__name {
    font-size: 36px;
    color: var(--color-white);
    margin-bottom: 10px;

    @media screen and (min-width: 480px) {
            font-size: 48px;
        }

    @media screen and (min-width: 749px) {
        font-size: 60px;
    }
}

.city__change {
    font-size: 18px;
    margin-right: 20px;
}

.city__location {
    padding-left: 27px;
    background-image: url('../img//location.svg');
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 18px;
    
}

.city__change, .city__location {
    @media screen and (min-width: 480px) {
            font-size: 20px;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 24px;
        }
    }

.btn-reset {
    cursor: pointer;
    border: none;
    opacity: 0.6;
    background-color: transparent;
    color: var(--color-white);
}

.header__units {
    width: 100px;
}

.units__button {
    width: 50px;
        font-size: 18px;
        padding: 3px 14px;
        border: 1px solid var(--color-white);
        border-radius: 8px;
}

.button__c {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button__f {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.unit-current {
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
}
